.App {
  text-align: center;
}

.wrapper{
  width: 100%;
  min-height: 100vh;
}


.login-page{
width: 70vw;
height: 70vh;
margin: 80px auto;
border: 15px solid #D6D5D1;
}
.login-page_title{
  width: 100%;
  height: 50px;
  text-align: center;
  margin-top: 100px;
  font-size: 20px;
  padding-top: 10px;
}

.login-page_form{
  width: 100%;
  height: 350px;
  margin: 30px auto;
  text-align: center;
}
.user-wrapper{
  margin-top: 10px;
  max-width: 100%;
  max-height: 100%;
}
.user-sidebar{
  height: 895px;
  background-color: #414833;
  border: 4px solid #D6D5D1;
  color:aliceblue;
}









